.wrapper{
	text-align:center;
	background-color:transparent;
	height: 90vh;
}
.logo{
	height:400px;
}

/* .close:hover{
	color:#3caea3;
}
.modal{
	display: none;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 20px;
	widows: 50%;
	z-index: 1; 
	overflow: auto; 
	background-color: #474e5d;
}
.center{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%) scale(1.25); 
}
.close{
	color: white;
    font-size: 40px;
	float: right;
} */

#sign-in{
	background-color:#ed553b;
	margin-bottom: 20px;
    width: 200px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
}
#sign-in:hover{
	box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
}
.bkg-animated {
	background: gray url("../../images/geometry.png") repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	-webkit-animation: bgSlide 20s linear infinite;
	animation: bgSlide 20s linear infinite;
}
@-webkit-keyframes bgSlide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
@keyframes bgSlide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
