.wrapper{
	text-align:center;
	background-color:#edf0ee;
}
@media only screen and (min-height: 800px) {
	.wrapper {
	  height: 80%;
	}
  }
.logo{
	height:400px;
}


/* .close:hover{
	color:#3caea3;
}
.modal{
	display: none;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 20px;
	widows: 50%;
	z-index: 1; 
	overflow: auto; 
	background-color: #474e5d;
}
.center{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%) scale(1.25); 
}
.close{
	color: white;
    font-size: 40px;
	float: right;
} */

#sign-in{
	background-color:#ed553b;
}

#sign-in:hover{
	box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
}

.bkg-animated {
	background: gray url("../../images/geometry.png") repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	-webkit-animation: bgSlide 20s linear infinite;
	animation: bgSlide 20s linear infinite;
}

@-webkit-keyframes bgSlide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
@keyframes bgSlide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
.alert{
	z-index: 1;
	width: 20%;
	position: absolute;
	top: 20%;
	right: -20%;
	-webkit-animation: notiSlide 0.5s forwards;
    animation: notiSlide 0.5s forwards;
}

@-webkit-keyframes notiSlide {
    100% { right: 0; }
}
@keyframes notiSlide {
    100% { right: 0; }
}