{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Raad</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
        {% block head %}
        {% endblock %}        
    </head>
    <body>
        <header>
            <img class='name_logo' src="{% static 'images/name.png'%}"></img>	
            <div id='alert' class="alert alert-danger fade in" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Unsuccessful Login</strong>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
    <!-- <footer>
        <p>Powered by Raad</p>
    </footer> -->
</html>

